name: financy_control
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  get_it: ^8.2.0
  # firebase_auth: ^6.1.1 TODO: setup firebase auth
  # firebase_core: ^4.2.0 TODO: setup firebase

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
